.products {
  .top-prod {
    margin: 0 2% 0 2%;
  }
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h2 {
      text-align: center;
      margin: 0 0 12px 0;
    }
  }
  &__items-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 6px 0 6px;
  }
  &__card {
    width: 100%;
    margin: 1.8rem auto 0;
    border-radius: 6px;
    max-width: 300px;
    height: 422px;
    background-color: var(--bg-panel);
    position: relative;
  }
  &__image-cont {
    height: 160px;
    max-height: 160px;
    width: 100%;
    justify-content: center;
    display: flex;
    overflow-y: hidden;
    background-color: white;
  }
  &__img {
    object-fit: contain;
    height: 100%;
  }
  &__card-body {
    display: flex;
    flex-direction: column;
    padding: 2px 4px 0px 4px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }
  &__card-title {
    // background-color: var(--bg-panel-02);
    padding: 2px 4px 27px 4px;
    // -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 80%);
    // clip-path: polygon(0 0, 100% 0, 100% 90%, 0 80%);
  }
  &__title {
    text-align: center;
    color: var(--color-text);
    font-size: 15px;
  }
  &__review-count {
    font-size: 0.7rem;
  }
  &__price {
    font-size: 1.1rem;
  }
  &__buttons {
    padding-top: 6px;
    div {
      cursor: pointer;
    }
  }
}

@media (min-width: 400px) {
  .products {
    &__header {
      margin: 0 4rem 0 4rem;
      h2 {
        text-align: center;
        margin: 0 0 12px 0;
      }
    }
    &__items-page {
      flex-direction: row;
      align-items: center;
      span {
        margin: 0 12px 0 0;
      };
    }
  }
}

@media (min-width: 440px) {
  .products {
    &__header {
      flex-direction: row;
      margin: 0 2% 0 4rem;
    }
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0 1rem;
      margin: 0 10px 0 10px;
      justify-content: space-between;
    }
    &__card {
      max-width: 280px;
      min-width: 200px;
    }
    &__card-body {
      padding: 0 2px 0 2px;
    }
  }
}

@media (min-width: 700px) {
  .products {
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 0 2% 0 2%;
      justify-content: space-between;
    }
    &__card {
      margin: 1.8rem 0 0 0;
      max-width: 300px;
    }
    &__card-body {
      padding: 0 2px 0 2px;
    }
  }
}

@media (min-width: 720px) {
  .products {
    &__header {
      margin: 0 2% 0 2%;
    }
  }
}

@media (min-width: 820px) {
  .products {
    .top-prod {
      margin: initial;
    }
    &__header {
      margin: initial;
    }
    &__container {
      margin: initial;
    }
  }
}
@media (min-width: 940px) {
  .products {
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-items: center;
    }
    &__card {
      margin: 1.8rem 0 0 0;
      max-width: 242px;
    }
  }
}