.admProductDetail {
  padding: 0 1rem;
  &__title {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__delete-confirm {
    border: 1px solid var(--danger-color);
    padding: 0.6rem;
    margin: 0.5rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__delete-btns {
    width: 80%;
    margin-top: 0.6rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    .btns {
      padding: 0.3rem 3rem;
      cursor: pointer;
      background-color: var(--danger-color);
      border-radius: 3px;
      border: none;
      transition: background-color 230ms ease-in;
    }
    .del-primary {
      margin-bottom: 0.6rem;
      &:hover {
        background-color: rgb(241, 93, 93);
      }
    }
    .del-secondary {
      &:hover {
        background-color: rgb(241, 93, 93);
      }
    }
  }
  &__details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  &__img {
    height: 100%;
    width: 100%;
    max-height: 600px;
    max-width: 600px;
  }
  &__info {
    width: 100%;
    padding: 12px;
    max-height: 300px;
    max-width: 360px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div .title {
      font-weight: 600;
    }
    &.image-info {
      padding: 12px 0 0 0;
    }
  }
  &__info-inner {
    &.image-info {
      div {
        &:nth-child(3) {
          font-size: 13px;
        }
      }
    }
  }
  &__btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    .update-btn {
      margin-bottom: 0.65rem;
      cursor: pointer;
    }
    &.user-item {
      margin-top: 6px;
      position: absolute;
      bottom: 2px;
      right: 10px;
      left: 10px;
    }
    .delete-btn {
      background: var(--danger-color);
      &:hover {
        color: white;
      }
    }
  }
  &__info-section {
    margin-top: 1.2rem;
    &.two {
      padding: 4rem 0 0 0;
      margin: 1.8rem 1rem 0;
    }
    .info-header {
      margin-bottom: 0.5rem;
    }
  }
  &__user {
    border: 1px solid white;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    &.user-item {
      grid-template-columns: 22% 23% 26% 14% 14%;
    }
  }
  &__user-section {
    &:nth-child(3) {
      margin-bottom: 5rem;
    }
  }
  &__user-group {
    margin: 2% 2% 6% 2%;
  }
  &__user-label {
    white-space: nowrap;
  }
}

@media (min-width: 250px) {
  .admProductDetail {
    &__info-section {
      &.two {
        padding: 2rem 0 0 0;
      }
    }
  }
}

@media (min-width: 366px) {
  .admProductDetail {
    &__delete-btns {
      flex-direction: initial;
      .del-primary {
        margin-bottom: initial;
      }
    }
    &__info-section {
      &.two {
        padding: 1rem 0 0 0;
      }
    }
  }
}

@media (min-width: 520px) {
  .admProductDetail {
    &__title {
      margin-top: 1rem;
      margin-bottom: 1.2rem;
      margin-left: 3rem;
    }
    &__btn-container {
      &.user-item {
        left: initial;
      }
    }
    &__user {
      flex-direction: initial;
    }
    &__user-section {
      &:nth-child(1) {
        margin: initial;
      }
      &.user-item {
        width: 50%;
      }
    }
  }
}

@media (min-width: 600px) {
  .admProductDetail {
    &__btn-container {
      &.user-item {
        top: 2px;
        bottom: initial;
      }
    }
    &__details {
      flex-direction: initial;
    }
    &__image {
      margin-right: 3rem;
    }
    &__img {
      height: initial;
      width: 100%;
      min-width: initial;
    }
    &__info {
      padding: initial;
    }
    &__info-section {
      .info-header {
        padding: initial;
      }
    }
  }
}

@media (min-width: 720px) {
  .admProductDetail {
    &__title {
      margin-top: 1rem;
      margin-bottom: 1.2rem;
      margin-left: initial;
      text-align: initial;
    }
    &__img {
      height: initial;
      min-width: 420px;
    }
  }
}

@media (min-width: 820px) {
  .admProductDetail {
    padding: initial;
  }
}