// mobile first
.hero {
  padding-top: 50.4px;
  overflow-y: hidden;
  height: 100vh;
  width: 100%;
  // background: url('../../img/mtn-lake.jpg') no-repeat center center/cover;
  // height: calc(100vh - 50.4px);
  &__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
  }
  &__slides {
    width: 100%;
  }
  &__slide-image {
    object-fit: cover;
    height: 100vh;
  }
  &__arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 100%;
    position: absolute;
    top: 40%;
    .arrow-cont {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      cursor: pointer;
      font-size: 2.6rem;
      outline: none;
      .left {
        color: var(--bg-panel);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        width: 3rem;
      }
      .right {
        color: var(--bg-panel);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        width: 3rem;
      }
    }
  }
  &__desc {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.2rem;
    position: absolute;
    bottom: 30px;
    left: 20px;
    max-width: 50%;
    color: var(--overlay-text);
  }
  &__title {
    text-align: center;
    padding: 1rem 1rem;
    font-weight: 800;
    color: var(--overlay-text);
  }
  &__buttons {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    width: 50%;
    margin: 0 auto;
  }
}

// for desktop 820px++
@media (min-width: 420px) {
  .hero {
    &__arrows {
      padding: 0 3rem 0 3rem;
    }
    &__desc {
      bottom: 40px;
      left: 40px;
    }
    &__title {
      padding: 0 1rem;
    }
    &__buttons {
      width: 66%;
    }
  }
}